<script type="text/javascript" src="bower_components/jsonform/deps/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/jsonform/deps/underscore.js"></script>
<script type="text/javascript" src="bower_components/jsonform/deps/opt/jsv.js"></script>
<script type="text/javascript" src="bower_components/jsonform/lib/jsonform.js"></script>
<div class="col-md-6 col-md-offset-3">
    <h1>Custom Forms</h1>
    <div custom-form custom-form-name="testCustomForm" custom-form-id="testCustomForm"></div>
    <button class="btn btn-success pull-right" ng-click="saveform()">Save</button>
</div>